body {
    font-family: $font-body, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background: url(../images/bg.gif) #FFF repeat-x;
    margin: 0;
}

main {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}