@mixin clearfix {
    clear:both;
}

@mixin text($size, $color, $weight, $l-height:null, $float:null) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
    line-height: $l-height;
    
}

@mixin footerText($width, $height, $bg:null, $p-top:null, $t-align:null) {
    width: $width;
    height: $height;
    background: $bg;
    padding-top: $p-top;
    text-align: $t-align;
    
}