figure {
    @include footerText(400px, 190px, url('#{$path-img}/logo.png') no-repeat 0 50px);
    display: block;
    margin: 0;
    }
    
nav {
    @include footerText(540px, 190px, right, left);
    

    ul {
        list-style-type: none;
        margin-top: 95px;
    }

    ul li {
        display: inline;
        font-size: .8em;
        margin-right: 10px;
    }

    ul li a {
        color: $darkOrange;
        text-decoration: none;
        letter-spacing: -0.01em;

        &:hover {
            color: $white;
        }
    }
    }