#headline {
    width: 100%;
    height: 130px;
    background: $lightOrange;
    text-align: center;
    margin: 0 auto;

    h1 {
        color: $white;
        font-size: 2.5em;
        font-weight: 100;
        padding-top: 50px;
    }
}

#content {
    width: 940px;
    margin: 20px auto;

    #products {
        width: 460px;
        float: left;

        img {
            float: left;
            margin-right: 20px;
        }

        article {
            margin-bottom: 40px;
        }

        h4 {
            line-height: 1em;
        }

    }

    #testimonials {
        width: 460px;
        float: right;
    }
}