.greybar {
    @include footerText(100%, 90px, $offWhite, 30px);
    @include clearfix;
}

footer {
    @include footerText(100%, 120px, $darkGray, 50px);
    text-align: center;
    color: $white;
}

.social-media {
    margin: 0 auto;
    width: 165px;

    div {
        float: left;
        margin-right: 5px;

        &.one {
            background: url('#{$path-img}/social-media.png') 0 0;
        }

        &.two {
            background: url('#{$path-img}/social-media.png') -38px 0;
        }

        &.three {
            background: url('#{$path-img}/social-media.png') -76px 0;
        }
        &.four {
            background: url('#{$path-img}/social-media.png') -114px 0;
        }
    }

    a {
        display: block;
        width: 36px;
        height: 36px;
        text-indent: -9999px;
    }

}
