


header {
    width: inherit;
    text-align: center;
    padding-top: 40px;
    @include clearfix;
    
    img {
        max-width: 100%;
        height: auto;
    }

    h1{
        @include text(4em, $darkOrange, 100, 0);
    }

    h2 {
        @include text(2.5em, $white, 900, 0);
        margin-bottom: 70px;
    }

    h3 {
        @include text(2em, $lightGray, 400, 0);
        margin-bottom: 50px;
    }
}