


header {
    width: inherit;
    text-align: center;
    padding-top: 40px;
    @include clearfix;
    
    img {
        max-width: 100%;
        height: auto;
    }

    h1{
        @include headerText(4em, $darkOrange, 100);
    }

    h2 {
        @include headerText(2.5em, $white, 900);
        margin-bottom: 70px;
    }

    h3 {
        @include headerText(2em, $lightGray, 400);
        margin-bottom: 50px;
    }
}